body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure full viewport height */
}

.timer {
  position: absolute;
  top: 30px;
  right: 0;
  margin: 15px;
  margin-left: 28px;
  padding-right: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.highscores {
  position: absolute;
  top: 30px;
  left: 0;
  margin: 15px;
  margin-left: 20px;
}

.highscores:hover {
  background-color: lightgreen;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 20px;
  background-color: #fdf4f4;
  border: 2.5px solid #100d0d;
  min-height: 300px;
}

.start-btn {
  /* padding: 10px 20px;
  margin-top: 20px;
  margin-left: 200px;
  background-color: rgb(157, 248, 157); */

  border-radius: 10px 10px 10px 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 20px;
  background-color: #0abc0a;
  border: 2.5px solid #100d0d;
  min-height: 300px;
  margin: 5px 5px;
}

.greetingMssg {
  margin-left: 33px;
}

.cool {
  background-color: rgb(223, 20, 54);
  height: 100px;
  width: 100px;
}

.question1 {
  font-size: 20px;
  font-weight: bold;
}
.answers {
  margin: 5px 5px;
}

.answers:hover {
  background-color: lightgreen;
  font-weight: bold;
}

.score-item {
  background-color: lightgreen;
}

.restart-quiz {
  background-color: lightgreen;
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  width: 200px; /* Adjust the width as needed */
}

.restart-quiz:hover {
  background-color: lightgreen;
}
